body, html {
    width: 100%;
    cursor: default;
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-text-main);
    background-color: var(--color-bg-main);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-accent);
    font-weight: 700;
    line-height: 1.2;
}

.container {
    padding: 0 var(--container-padding);
    margin-bottom: 20px;
}
