@media (max-width: 768px) {
    .header {
        border-radius: 0 0;

    }
    .categories {
        display: none;
    }
    .container {
        padding: 0;
    }
    .shop-list {
        padding: 0 10px;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }
    .header__ul {
        display: none;
    }

}

@media (max-width: 360px) {
    .shop-list {
        padding: 0 5px;
        gap: 5px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .card img {
        height: 150px;
    }
    .card:hover {
        transform: translateY(0px);
    }
}
