/* ---------- Медиа: до 768px ---------- */
@media (max-width: 768px) {
    .header {
        border-radius: 0 0;
    }

    .header__menu {
        display: none;
    }

    .filters {
        display: none;
    }

    .container {
        padding: 0;
    }

    .product-list {
        padding: 0 10px;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }
}


/* ---------- Медиа: до 360px ---------- */
@media (max-width: 360px) {
    .header {
        margin-bottom: 5px;
    }

    .container {
        margin-bottom: 0;
    }

    .product-list {
        padding: 0 5px;
        gap: 5px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .product-card {
        min-height: 250px;
    }

    .product-card img {
        height: 150px;
    }

    .product-card:hover {
        transform: translateY(0px);
    }

    .cart__items {
        padding: 0 5px;
        gap: 5px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .cart__content {
        flex-flow: column;
        justify-content: normal;
        gap: 5px;
    }

    .cart__summary {
        max-width: 100%;
        padding: 0 5px;
        border-radius: 16px 16px 0 0;
    }

    .cart__summary-header span {
        display: none;
    }

    .cart__checkout-button {
        width: auto;
        font-size: 21px;
        font-weight: 500;
    }

    #pisya {
        display: none;
    }
}
