:root {
    --color-bg-main: #111131;
    --color-bg-card: #1f1f4d;
    --color-bg-header: #0a0a23;
    --color-bg-hover: #2a2a66;
    --color-bg-hover-dark: #3a3a80;

    --color-text-main: #ffffff;
    --color-text-muted: #adadad;
    --color-price-accent: #ffcc00;
    --color-bin-text: #d0d0d0;

    --font-main: 'Inter', sans-serif;
    --font-accent: 'Manrope', sans-serif;

    --header-height: 70px;
    --container-padding: 60px;
    --card-radius: 20px;
}
